.cl970, .a8ad, .cl760, .bookMain .bookIntro,.bookMain .bookSimilar,.bookMain .bookCover,.inkk .innr9, .flr .ma5 .sy_tb, .flr form, .flr .ma5 #search_fy, #index_right .inkk:nth-child(even), #footer, .footer, iframe, .mtb4 script, body .main-btn {display: none;}
#tbBox, .tc, .mtb4, .mtb4 * {display: block;}
.mtb4, .mtb4 *, #mangaBox {
	max-width: 100%;
	max-height: 100%;
	line-height: 100%;
}
body .mtb4 img {max-height: 98%;max-width: 98%;}
body .mtb4{width:100%; height: 100%; margin: 0;padding: 0;float: left;}
body, html {position: relative; max-width: 100%; max-height: 100%; margin: 0;}
table, td, tr,tbody {margin: 0;padding: 0; width: 100%;height: 100%}
body .w980 {position: absolute; z-index: 999; opacity: 0; left: 50%; margin-left: -490px; transition: all .3s; -webkit-transition: all .3s;}
.tc {bottom: 0;}
.w980:hover {opacity: 1;}