html, body, #sd, #sd a {
	width: 100%;
	height: 100%;
	background: #fff;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#sd img {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	max-height: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
body img {
	border-width: 0;
}
#ia {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px 0;
	margin: 0;
	text-align: center;	
	background: rgba(255,255,255,0.5);
	z-index: 9999;
	opacity: 0;
	-webkit-transition: all .3s;
	transition: all .3s;
}
#ia:hover {
	opacity: 1;
}