/*.footer_adv center, .footer_adv left, .footer_advbg, #pl_content_biztips, #trustPagelete_recom_interest, #pl_rightmod_ads35, #trustPagelete_zt_hottopic, #trustPagelet_recom_member, #trustPagelete_recom_allinone, #pl_rightmod_help, #pl_rightmod_noticeboard, .global_footer, .W_main_r, .footer_adv {
	display: none;
}
.B_index .W_main_c {width: 100%;}
.W_main_narrow {width: 600px!important;}
body .W_main_narrow_bg {box-shadow: 0 3px 12px rgba(0,0,0,0.3); background: none no-repeat 900px -500px;}
.W_gotop {box-shadow: 0 3px 12px rgba(0,0,0,0.3);}*/
div#Box_right, #pl_content_biztips {display:none;}
div#Box_center {width: 830px;}
.W_func,div[feedtype="ad"] {display: none}