.footer_adv center, .footer_adv left, .footer_advbg, #pl_content_biztips, #trustPagelete_recom_interest, #pl_rightmod_ads35, #trustPagelete_zt_hottopic, #trustPagelet_recom_member, #trustPagelete_recom_allinone, #pl_rightmod_help, #pl_rightmod_noticeboard, .global_footer, .W_main_r {
	display: none;
}
.B_index .W_main_c {width: 100%;}
.W_main_narrow {width: 600px!important;}
body .W_main_narrow_bg {box-shadow: 0 3px 12px rgba(0,0,0,0.3); background: none no-repeat 900px -500px;}
.W_gotop {box-shadow: 0 3px 12px rgba(0,0,0,0.3);}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background: #f2f2f2;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.2), 0 3px rgba(0,0,0,0.3);
	border: 1px solid #fff;
	border-width: 0px 1px 0px 1px;
}
::-webkit-scrollbar:hover {
	background: #fff;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 2px rgba(0,0,0,0);
	padding: 2px;
}
::-webkit-scrollbar-thumb {
	box-shadow: inset 0 1px 2px rgba(255,255,255,0.8),0 1px 3px rgba(0,0,0,0.3);
	background: #b5b5b5;
	border-radius: 5px;
	border: 1px solid #a5a5a5;
}